body{
    background-color: rebeccapurple;
}

h1{
    color:whitesmoke
}

p{
    color: red;

}


.imput{

    display: flex;
    flex-direction: column;
    width: 500px;
    text-align: center;
    
}

.btn{

    flex-direction: row;
     
}

.cajaComentario{

  display: flex;
  

}