/* Márgenes */
body{

  margin: 20px;
}

/* Modificaciones de textos */
h1{
  margin:20px;
  text-align: center;
  font-size: 75px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: grey;
}

h3{
  font-size: 25px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(182, 179, 179);
}


h5{
  font-size: 25px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(182, 179, 179);
}

h6{
  font-size: 20px;
}

/* Dark / light mode sacado de W3School */
button {
    margin: 10px 10px 10px 0px;
    padding: 6px 12px;
}

#canvas-wrapper.dark-mode {
    background: #222;
    color: #DDD;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: 10px;
  
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(226, 204, 106);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(255, 255, 255);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(226, 204, 106);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 


.btnModo{
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: grey;
}



/* Márgenes */
.tarjetas{
  margin: 50px;
  
}

.imagenes{

  margin-top: 20px;
}

/* Imágene Header */
.imagenFondo{
  background-image: url(img/harina-4.jpg);
  background-position: top;
  background-size: cover;
  background-position: center center;
  height: 60vh; 
}

.imgHeader{

  width: 700px;
  
}

/* Footer */
.bgFooter{
  
  background-color: rgba(33, 37, 41) ;
}
  
  